<template>
    <div class="row" style="margin-bottom: 16px;">
      <div class="col-lg-12 text center">
        francesco.larghi@gmail.com
      </div>
      <div class="col-lg-12 center">
        <a href="https://www.linkedin.com/in/francesco-larghi-656813107/" target="_blank" rel="noreferrer" aria-label="Linkedin" >
          <Fab i="linkedin" />
        </a>
      </div>
    </div>
</template>

<script>
import Fab from '@/components/Fab'
export default {
    components : {
        Fab
    }
}
</script>

<style scoped>
    .center {
        text-align: center;
        align-content: center;
    }
    .text {
        font-size: 18px;
        font-family: 'Courier New', Courier, monospace
    }
</style>