<template>
<div class="row">
    <b-navbar toggleable="lg" type="light" variant="faded" class="mx-auto">
        <b-navbar-nav>
            <b-nav-item href="/">Home</b-nav-item>
            <b-nav-item href="/CV-Francesco-Larghi.pdf" target="_blank">Resume</b-nav-item>
        </b-navbar-nav>
    </b-navbar>
</div>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
