<template>
  <div>
    <b-card-group deck>
      <b-card
        class="mb-2"
        img-alt="Image"
        img-top
        img-src="@/assets/logo-llama-double.png"
        img-width="250px"
        img-height="250px"
        tag="article"
        title="LLAMA - Logs Archive Management and Analysis"
      >
        <b-card-text>
          This project is about the development of a system to manage and
          analyze analyze logs on a complex distributed environment. The project
          involve technologies such as Vue.js, Flask (Python), MongoDB, Fluentd
          and Ansible.
        </b-card-text>

        <b-button href="http://hdl.handle.net/10589/149979" target="_blank" variant="outline-primary"
          >See Project</b-button
        >
      </b-card>

      <b-card
        title="Search Visualizer"
        img-src="@/assets/graph.png"
        img-alt="Image"
        img-top
        tag="article"
        img-width="250px"
        img-height="250px"
      >
        <b-card-text>
          A project written in Python to visualize searching algorithms behavior
          such as Dijkstra and A-Star. Visualizing is cool!
        </b-card-text>

        <b-button @click="makeToast()" variant="outline-primary">See Project</b-button>
      </b-card>
      <b-card
        title="A quantitative method for the evaluation of spatial resolution in quality control of B-mode ultrasound images"
        img-src="@/assets/mtf.png"
        img-alt="Image"
        img-top
        tag="article"
        img-width="250px"
        img-height="250px"
      >
        <b-card-text>
          The work describes a method to quantitatively evaluate
          spatialresolution in B-mode quality control images as radial
          Modulation Transfer Function.
        </b-card-text>

        <b-button
          href="https://journals.sagepub.com/doi/10.1177/0161734617741254" target="_blank" variant="outline-primary"
        >
          See Publication
        </b-button>
      </b-card>
    </b-card-group>
  </div>
</template>

<script>
  export default {
    methods: {
      makeToast(append = false) {
        this.$bvToast.toast(`Not yet published`, {
          title: 'Info',
          autoHideDelay: 2000,
          appendToast: append
        })
      }
    }
  }
</script>
