<template>
  <div class="container">
    <Navbar />
    <nuxt />
    <hr />
    <Footer />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'
import Footer from '@/components/Footer'
export default {
  components: {
    Navbar,
    Footer
  }
}
</script>

<style>
html {
  font-size: 18px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.title {
  font-size: 30px;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-weight: bold;
  color: #0275d8;
}
</style>
