<template>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="title">
        Hi, I'm Francesco
        </div>
        <hr>
        <div class="text">
        A M.Sc. in Internet Engineering from Italy, passionate about tech and science in general!
        </div>
      </div>

      <div class="col-md-6 right">
        <b-img src="@/assets/avatar.png" fluid alt="Responsive image" thumbnail rounded="circle" width="150px"></b-img>
      </div>
    </div>
    <hr>
    <div class="text">
      Here are my projects and publications:
      <Projects class="projects"/>
    </div>
  </div>
</template>

<script>
import Projects from '@/components/Projects'
export default {
  components: {
    Projects
  }
}
</script>

<style scoped>
  .projects {
    margin-top: 20px;
  }
  .right {
    text-align: right
  }
</style>
